<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  
  
  <title>检测IE浏览器版本 | Shoestrong&#39;s blog | 小闯的博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <meta name="theme-color" content="#396">
  
  
  <meta name="keywords" content="IE">
  <meta name="description" content="一般来说，我们是建议使用条件注释来替换浏览器检测的方法。本文所讲的技术仅仅在条件注释无法实现，或者需要检测一个bug。
IE条件注释：





  

IE10及其以下的浏览器可以通过检测存在非标准的 document.all 对象来区分。
除了上面的特性外，每个IE浏览器还有各自的支持对象



IE版本
支持的标准对象




10+
window.atob


9+
document.ad">
<meta property="og:type" content="article">
<meta property="og:title" content="检测IE浏览器版本">
<meta property="og:url" content="http://yoursite.com/template/20160128/IE-solve/index.html">
<meta property="og:site_name" content="Shoestrong's blog">
<meta property="og:description" content="一般来说，我们是建议使用条件注释来替换浏览器检测的方法。本文所讲的技术仅仅在条件注释无法实现，或者需要检测一个bug。
IE条件注释：





  

IE10及其以下的浏览器可以通过检测存在非标准的 document.all 对象来区分。
除了上面的特性外，每个IE浏览器还有各自的支持对象



IE版本
支持的标准对象




10+
window.atob


9+
document.ad">
<meta property="og:updated_time" content="2016-11-16T07:34:42.373Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="检测IE浏览器版本">
<meta name="twitter:description" content="一般来说，我们是建议使用条件注释来替换浏览器检测的方法。本文所讲的技术仅仅在条件注释无法实现，或者需要检测一个bug。
IE条件注释：





  

IE10及其以下的浏览器可以通过检测存在非标准的 document.all 对象来区分。
除了上面的特性外，每个IE浏览器还有各自的支持对象



IE版本
支持的标准对象




10+
window.atob


9+
document.ad">
  
    <link rel="alternative" href="/atom.xml" title="Shoestrong&#39;s blog" type="application/atom+xml">
  
  <meta name="summary" content="shoestrong,小闯,小闯的博客,shoestrong&#39;s blog,前端,前端开发">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/style.css?v=1.1.10">
</head>

<body>
  <div id="loading" class="active"></div>

  <aside id="menu" class="hide" >
  <div class="inner flex-row-vertical">
    <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
        <i class="icon icon-lg icon-close"></i>
    </a>
    <div class="brand-wrap">
      <div class="brand">
        <a href="http://shoestrong.cc" class="avatar waves-effect waves-circle waves-light"><img src="/img/logo.jpg"></a>
        <hgroup class="introduce">
          <h5 class="nickname">Shoestrong</h5>
          <a href="mailto:zqc_2007@yeah.net" title="zqc_2007@yeah.net" class="mail">zqc_2007@yeah.net</a>
        </hgroup>
      </div>
    </div>
    <div class="scroll-wrap flex-col">
      <ul class="nav">
        
            <li class="waves-block waves-effect">
              <a href="/"  >
                <i class="icon icon-lg icon-home"></i>
                主页
              </a>
            </li>
        
            <li class="waves-block waves-effect">
              <a href="/archives"  >
                <i class="icon icon-lg icon-archives"></i>
                文章
              </a>
            </li>
        
            <li class="waves-block waves-effect">
              <a href="/tags"  >
                <i class="icon icon-lg icon-tags"></i>
                标签
              </a>
            </li>
        
            <li class="waves-block waves-effect">
              <a href="https://github.com/Shoestrong" target="_blank" >
                <i class="icon icon-lg icon-github"></i>
                Github
              </a>
            </li>
        
      </ul>

      <footer class="footer">
  <p>Shoestrong&#39;s blog &copy; 2016</p>
  <a href="/atom.xml" target="_blank" class="rss" title="rss"><i class="icon icon-2x icon-rss-square"></i></a>
</footer>

    </div>
  </div>
</aside>
  <main id="main">
    <header class="top-header" id="header">
    <div class="flex-row">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light on" id="menu-toggle">
          <i class="icon icon-lg icon-navicon"></i>
        </a>
        <div class="flex-col header-title ellipsis">检测IE浏览器版本</div>
        
        <div class="search-wrap" id="search-wrap">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="back">
                <i class="icon icon-lg icon-chevron-left"></i>
            </a>
            <input type="text" id="key" class="search-input" autocomplete="off" placeholder="输入感兴趣的关键字">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="search">
                <i class="icon icon-lg icon-search"></i>
            </a>
        </div>
        
        
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-share">
            <i class="icon icon-lg icon-share-alt"></i>
        </a>
        
    </div>
</header>
<header class="content-header post-header">

    <div class="container">
        <h1 class="title">检测IE浏览器版本</h1>
        <h5 class="subtitle">
            
                <time datetime="2016-01-27T16:00:00.000Z" itemprop="datePublished" class="page-time">
  2016-01-28
</time>


            
        </h5>
    </div>

    

</header>


<div class="container body-wrap">
    
<article id="post-IE-solve" 
  class="post-article article-type-post" itemprop="blogPost">

    <div class="post-card">
        <h1 class="post-card-title">检测IE浏览器版本</h1>
        <div class="post-meta">
            <time datetime="2016-01-27T16:00:00.000Z" itemprop="datePublished" class="post-time">
  2016-01-28
</time>

            


        </div>
        <div class="post-content" id="post-content" itemprop="postContent">
            <p>一般来说，我们是建议使用条件注释来替换浏览器检测的方法。本文所讲的技术仅仅在条件注释无法实现，或者需要检测一个bug。</p>
<p>IE条件注释：</p>
<blockquote>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
</html></blockquote>
<p>IE10及其以下的浏览器可以通过检测存在非标准的 document.all 对象来区分。</p>
<p>除了上面的特性外，每个IE浏览器还有各自的支持对象</p>
<table>
<thead>
<tr>
<th>IE版本</th>
<th style="text-align:center">支持的标准对象</th>
</tr>
</thead>
<tbody>
<tr>
<td>10+</td>
<td style="text-align:center">window.atob</td>
</tr>
<tr>
<td>9+</td>
<td style="text-align:center">document.addEventListener</td>
</tr>
<tr>
<td>8+</td>
<td style="text-align:center">document.querySelector</td>
</tr>
<tr>
<td>7+</td>
<td style="text-align:center">window.XMLHttpRequest</td>
</tr>
<tr>
<td>6+</td>
<td style="text-align:center">document.compatMode</td>
</tr>
</tbody>
</table>
<p>通过上面列出的这些不同IE浏览器版本的检测特性，我们可以组合得到某个特定的IE版本</p>
<p>例如下面的这些组合</p>
<table>
<thead>
<tr>
<th>IE版本</th>
<th style="text-align:center">支持的状态</th>
</tr>
</thead>
<tbody>
<tr>
<td>10及以下</td>
<td style="text-align:center">document.all</td>
</tr>
<tr>
<td>9及以下</td>
<td style="text-align:center">document.all &amp;&amp; !window.atob</td>
</tr>
<tr>
<td>8及以下</td>
<td style="text-align:center">document.all &amp;&amp; !document.addEventListener</td>
</tr>
<tr>
<td>7及以下</td>
<td style="text-align:center">document.all &amp;&amp; !document.querySelector</td>
</tr>
<tr>
<td>6及以下</td>
<td style="text-align:center">document.all &amp;&amp; !window.XMLHttpRequest</td>
</tr>
<tr>
<td>5.x</td>
<td style="text-align:center">document.all &amp;&amp; !document.compatMode</td>
</tr>
</tbody>
</table>
<p>例子</p>
<p>下面的条件代码只会在IE7及一下浏览器中运行</p>
<blockquote>
<p>if (document.all &amp;&amp; !document.querySelector) {<br>alert(‘IE7 or lower’);<br>}</p>
</blockquote>
<p>下面这一个只会运行在IE8中，并且不支持IE7或者IE9：</p>
<blockquote>
<p>if (document.all &amp;&amp; document.querySelector &amp;&amp; !document.addEventListener) {<br>alert(‘IE8’);<br>}</p>
</blockquote>
<p>下面的条件代码当浏览器为IE11+ 或者非IE时为真</p>
<blockquote>
<p>if (!document.all) {<br>alert(‘IE11+ or not IE’);<br>}</p>
</blockquote>
<p>其他方法检测IE版本</p>
<p>由于IE11并不再支持条件注释了</p>
<p>检测不同的IE版本对应不同的javascript引擎</p>
<p>|IE版本             | - | 10 | 9 | 8   | 7   | 6   |<br>|JavaScript引擎版本 | - | 10 | 9 | 5.8 | 5.7 | 5.6 |</p>
<p>条件注释<br>例如下面的代码结合条件注释和JS代码：</p>
<p>html代码：</p>
<blockquote>
<p><script><br>var ie = false;<br></script><br><!--[if lte IE 7]><script>
ie = 7;
</script><![endif]--></p>
</blockquote>
<p>在JavaScript文件中：</p>
<blockquote>
<p>if (7 === ie) {<br>alert(‘IE7 or lower’);<br>}</p>
</blockquote>
<p>或者是：</p>
<blockquote>
<p>var test = document.createElement(‘div’);<br>test.innerHTML = ‘<!--[if lte IE 7]>1<![endif]-->‘;</p>
<p>if (‘1’ === test.innerHTML) {<br>alert(‘IE7 or lower’);<br>}</p>
</blockquote>
<p>相比较使用全局方法，这种方法可能就不优雅并且速度也不是很快。</p>
<p>IE版本代码总结：</p>
<p>IE11或者非IE</p>
<blockquote>
<p>if (!document.all) {<br>alert(‘IE11+ or not IE’);<br>}</p>
</blockquote>
<p>IE10</p>
<blockquote>
<p>if (document.all &amp;&amp; document.addEventListener &amp;&amp; window.atob) {<br>alert(‘IE10’);<br>}</p>
</blockquote>
<p>IE9</p>
<blockquote>
<p>if (document.all &amp;&amp; document.addEventListener &amp;&amp; !window.atob) {<br>alert(‘IE9’);<br>}<br>IE8上面已经给出</p>
<p>if (document.all &amp;&amp; document.querySelector &amp;&amp; !document.addEventListener) {<br>alert(‘IE8’);<br>}</p>
</blockquote>
<p>IE7</p>
<blockquote>
<p>if (document.all &amp;&amp; window.XMLHttpRequest &amp;&amp; !document.querySelector) {<br>alert(‘IE7’);<br>}</p>
</blockquote>
<p>IE6</p>
<blockquote>
<p>if (document.all &amp;&amp; document.compatMode &amp;&amp; !window.XMLHttpRequest) {<br>alert(‘IE6’);<br>}</p>
</blockquote>

        </div>
        
        <blockquote class="post-copyright">
    <div class="content">
        这里写留言或版权声明：<a href="/template/20160128/IE-solve/" target="_blank" rel="external">http://yoursite.com/template/20160128/IE-solve/</a>
    </div>
    <footer>
        <a href="http://yoursite.com">
            <img src="/img/logo.jpg" alt="Shoestrong">
            Shoestrong
        </a>
    </footer>
</blockquote>
        

        <div class="post-footer">
            
	<ul class="article-tag-list"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/IE/">IE</a></li></ul>


            
<div class="post-share-wrap">
    <div class="post-share" id="post-share">
    <div class="tit">分享到：</div>
    <ul class="reset share-icons">
      <li>
        <a class="weibo share-sns" href="javascript:;" data-title="微博" data-service="tsina">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      <li>
        <a class="weixin share-sns" href="javascript:;" data-title="微信" data-service="weixin">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      <li>
        <a class="qq share-sns" href="javascript:;" data-title=" QQ" data-service="cqq">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      <li>
        <a class="facebook share-sns" href="javascript:;" data-title=" Facebook" data-service="fb">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" href="javascript:;" data-title=" Twitter" data-service="twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a class="douban share-sns" href="javascript:;" data-title="豆瓣" data-service="douban">
          豆
        </a>
      </li>
    </ul>
 </div>

    <a href="javascript:;" id="share-fab" class="post-share-fab waves-effect waves-circle">
        <i class="icon icon-share-alt icon-lg"></i>
    </a>
</div>


        </div>
    </div>   

    
<nav class="post-nav flex-row flex-justify-between">
  
    <div class="waves-block waves-effect prev">
      <a href="/template/20160210/create-object/" id="post-prev" class="post-nav-link">
        <div class="tips"><i class="icon icon-angle-left icon-lg icon-pr"></i> 上一篇</div>
        <h4 class="title">创建对象的方法与实践</h4>
      </a>
    </div>
  

  
    <div class="waves-block waves-effect next">
      <a href="/template/20151223/jquery-bits/" id="post-next" class="post-nav-link">
        <div class="tips">下一篇 <i class="icon icon-angle-right icon-lg icon-pl"></i></div>
        <h4 class="title">jquery 小片段</h4>
      </a>
    </div>
  
</nav>


            
    
<div class="duoshuo">
	<div class="ds-thread" data-thread-key="IE-solve" data-title="检测IE浏览器版本" data-url="http://yoursite.com/template/20160128/IE-solve/"></div>
</div>
<script src="/js/embed.min.js?v=1.1.10"></script>
<script src="//cdn.bootcss.com/marked/0.3.6/marked.min.js" async="async"></script>
<script>
var duoshuoQuery = {short_name:'shoestrong', theme: 'none'}
</script>




</article>


</div>
  </main>
  <div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>

<script>var BLOG = { ROOT: '/' };
BLOG.SHARE = {
title: "检测IE浏览器版本",
pic: "/img/logo.jpg",
summary: document.getElementsByName('summary')[0].content,
url: "http://yoursite.com/template/20160128/IE-solve/" }
</script>
<div class="global-share" id="global-share">
    <div class="tit">分享到：</div>
    <ul class="reset share-icons">
      <li>
        <a class="weibo share-sns" href="javascript:;" data-title="微博" data-service="tsina">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      <li>
        <a class="weixin share-sns" href="javascript:;" data-title="微信" data-service="weixin">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      <li>
        <a class="qq share-sns" href="javascript:;" data-title=" QQ" data-service="cqq">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      <li>
        <a class="facebook share-sns" href="javascript:;" data-title=" Facebook" data-service="fb">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" href="javascript:;" data-title=" Twitter" data-service="twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a class="douban share-sns" href="javascript:;" data-title="豆瓣" data-service="douban">
          豆
        </a>
      </li>
    </ul>
 </div>


  <script src="//cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>
<script src="/js/main.min.js?v=1.1.10"></script>



<div class="search-panel" id="search-panel">
    <ul class="search-result" id="search-result"></ul>
</div>
<template id="search-tpl">
<li class="item">
    <a href="{path}" class="waves-block waves-effect">
        <div class="title ellipsis" title="{title}">{title}</div>
        <div class="flex-row flex-middle">
            <div class="tags ellipsis">
                {tags}
            </div>
            <time class="flex-col time">{date}</time>
        </div>
    </a>
</li>
</template>

<script src="/js/search.min.js?v=1.1.10"></script>





<script src="//s95.cnzz.com/z_stat.php?id=true&web_id=true"></script>





</body>
</html>
